<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ai.apac.smartenv.vehicle.mapper.VehicleCategoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="vehicleCategoryResultMap" type="com.ai.apac.smartenv.vehicle.entity.VehicleCategory">
        <id column="id" property="id"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
        <result column="create_dept" property="createDept"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="category_name" property="categoryName"/>
        <result column="category_code" property="categoryCode"/>
        <result column="parent_category_id" property="parentCategoryId"/>
        <result column="sort_id" property="sortId"/>
    </resultMap>

    <resultMap id="treeNodeResultMap" type="org.springblade.core.tool.node.TreeNode">
        <id column="id" property="id"/>
        <result column="parent_id" property="parentId"/>
        <result column="title" property="title"/>
        <result column="value" property="value"/>
        <result column="key" property="key"/>
        <result column="has_children" property="hasChildren"/>
    </resultMap>

    <select id="selectVehicleCategoryPage" resultMap="vehicleCategoryResultMap">
        select * from ai_vehicle_category where is_deleted = 0
    </select>


    <select id="tree" resultMap="treeNodeResultMap">
        select id, parent_category_id as parent_id, category_name as title, category_code as "value", category_code as "key" from ai_vehicle_category where is_deleted = 0
        ORDER BY sort_id
    </select>

</mapper>
