<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ai.apac.smartenv.device.mapper.SimRelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="simRelResultMap" type="com.ai.apac.smartenv.device.entity.SimRel">
        <id column="id" property="id"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_dept" property="createDept"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="device_id" property="deviceId"/>
        <result column="sim_id" property="simId"/>
    </resultMap>


    <select id="selectSimRelPage" resultMap="simRelResultMap">
        select * from ai_sim_rel where is_deleted = 0
    </select>

</mapper>
