<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ai.apac.smartenv.event.mapper.EventInfoKpiRelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="eventInfoKpiRelResultMap" type="com.ai.apac.smartenv.event.entity.EventInfoKpiRel">
        <id column="id" property="id"/>
        <result column="create_user" property="createUser"/>
        <result column="status" property="status"/>
        <result column="update_user" property="updateUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_dept" property="createDept"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="event_info_id" property="eventInfoId"/>
        <result column="kpi_id" property="kpiId"/>
        <result column="deducted" property="deducted"/>
    </resultMap>


    <select id="selectEventInfoKpiRelPage" resultMap="eventInfoKpiRelResultMap">
        select * from ai_event_info_kpi_rel where is_deleted = 0
    </select>

</mapper>
