<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ai.apac.smartenv.wechat.mapper.WeChatUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="userResultMap" type="com.ai.apac.smartenv.wechat.entity.WeChatUser">
        <result column="id" property="id"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="user_id" property="userId"/>
        <result column="union_id" property="unionId"/>
        <result column="app_open_id" property="appOpenId"/>
        <result column="mp_open_id" property="mpOpenId"/>
        <result column="nick_name" property="nickName"/>
        <result column="avatar" property="avatar"/>
        <result column="mobile" property="mobile"/>
    </resultMap>

</mapper>
