<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ai.apac.smartenv.statistics.mapper.RptVehicleOilMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="rptVehicleOilResultMap" type="com.ai.apac.smartenv.statistics.entity.RptVehicleOil">
        <id column="id" property="id"/>
        <result column="status" property="status"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_time" property="createTime"/>
        <result column="create_dept" property="createDept"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="date" property="date"/>
        <result column="month" property="month"/>
        <result column="entity_id" property="entityId"/>
        <result column="start_oil" property="startOil"/>
        <result column="end_oil" property="endOil"/>
        <result column="add_oil" property="addOil"/>
        <result column="oil_consumption" property="oilConsumption"/>
        <result column="mileage" property="mileage"/>
        <result column="oil_consumption_hundred" property="oilConsumptionHundred"/>
    </resultMap>


    <select id="selectRptVehicleOilPage" resultMap="rptVehicleOilResultMap">
        select * from ai_rpt_vehicle_oil where is_deleted = 0
    </select>

</mapper>
